var div = $('div[data-id="<%= @message.id %>"]');
if($(".message_all").children("div.message").size() == 1){
  div.remove();
  $("div.message_all").prepend("<div class='white_div none_showing'>You have 0 messages.</div>");
}
else{
  div.remove();
}