var div = $('div[data-id="<%= @conversation.id %>"]');
if($("div.convo_all").children("div").size() == 1){
  div.fadeOut(function(){
    debugger;
    $("div.convo_all").delay(3000).prepend("<div class='white_div none_showing'>You have 0 conversations.</div>");
  });
}
else{
  div.fadeOut();
}