<h2>About Us</h2>
<p>All In the Family helps families sync on social media to exchange messages, photo albums and event invitations. It is designed to autoassign familial relationships that allow users to customize sharing based on his or her relationship to a family member.</p>