<h1 class="center">About Us</h1>
<div class="white_div">
  <h1>Background</h1>
  <p></p>
</div>

<div class="white_div">
  <h1>Creators</h1>
  <p></p>
</div>

<div class="white_div">
  <h1>Contact Us</h1>
  <p></p>
</div>