
<div class="jumbotron center">
<h1>Your Family. For You.</h1><br>
  <p>
    <%= link_to "Log in", new_person_session_path, class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", new_person_registration_path, class: "btn btn-primary btn-lg" %>
  </p>
  <%= render 'layouts/demo_login_form' %>    
</div>
