<h1>Events</h1>
<div id="events">
  <%= calendar do |date| %>
    <%= date.day %>
    <% formatted_date = Time.zone.parse(date.to_s).utc %>
    <% if @permitted_events_by_date[formatted_date] %>
      <ul>
        <% @permitted_events_by_date[formatted_date].each do |event| %>
          <li><%= link_to event.name, event_path(@family, event) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<%= link_to "Create a New Event!", new_event_path %>
</div>
