<h1><%= @event.name %></h1>
<p><%= @event.content %></p>
<h5 id="permitted_members"><%= @event.all_permitted_members %></h5>

<% if @event.owner == current_person %>
  <%= link_to "Delete Event", delete_family_event_path(@family, @event), method: :delete, data: { confirm: "Are you sure you want to delete this event?"} %>
<% end %>