<div class="container">
  <% @conversations.each do |convo| %>
    <div class="convo" data-id= "<%= convo.id %>">
      <%= convo.title %>
      <%= convo.messages.last %>
    </div>
  <% end %>
</div>