<div class="panel panel-default inline form_attr add_photo">
  <div class="panel-heading">
    <h4 class="center">Add a Photo</h4>
    </div>
    <div class="panel-body center">
    <%= form_tag(family_album_photo_path(@family, @album), multipart: true) do %>
      <%= file_field_tag "photo[data]" %><br>
      <%= text_field_tag "photo[caption]", "", placeholder: "Add Caption", autofocus: true %>
      <hr>
      <%= submit_tag "Upload Photo" %>
    <% end %>
  </div>
</div>