<%= link_to albums_path do %>
  <div class="white_div">
    <% if family.albums.empty? %>
      <%= image_tag('hip_read.jpg') %>
    <% else %>
      <%= image_tag(family.albums.last.photos.last.data_url(:thumb).to_s) %>
    <% end %>
    <h1>ALBUMS</h1>
  </div>
<% end %>