<div class="album_scroll">
  <% family.albums.each do |album| %>
    <%= link_to image_tag(photo.data_url(:tiny).to_s), album_path(album) %>
    <%= album.name %>
  <% end %>
  <%= link_to "See All", albums_path %>
</div>