<div id="member_input">
  <%= text_field_tag('people[emails][]', "", placeholder: 'email') %>
  <%= select_tag 'people[relations][]', options_for_select(["husband", "wife", "brother", "sister", "daughter", "son", "mother", "father", "grandmother", "grandfather", "son_in_law", "daughter_in_law", "brother_in_law", "sister_in_law", "cousin", "aunt", "uncle"]) %>
  <br>
</div>