<div id="member_input">
  <%= text_field_tag('people[emails][]', "", placeholder: 'email') %>
  <%= select_tag 'people[relations][]', options_for_select(["husband", "wife", "brother", "sister", "daughter", "son", "mother", "father", "maternal grandmother", "paternal grandmother", "maternal grandfather", "paternal grandfather", "son-in-law", "daughter-in-law", "brother-in-law", "sister-in-law", "cousin", "maternal aunt", "paternal aunt", "maternal uncle", "paternal uncle"]) %>
  <br>
</div>