<div class="panel panel-default inline form_attr">
  <div class="panel-heading">
    <h4 class="center">Are you sure?</h4>
    <p>The following accounts will be deleted</p>
  </div>
  <div class="panel-body">
    <ul>
      <% @family.people.each do |member| %>
        <% if member.confirmed? %>
          <li><%= member.first_name %></li>
        <% end %>
      <% end %>
    </ul>
    <hr>
    <div class="center">
      <%= link_to "I'm Sure", destroy_family_path(@family), method: :delete, data: { confirm: "Are you sure you want to delete this family?" } %>
    </div>  
  </div>
</div>
