<h1>Are you sure?</h1>
<p>The following accounts will be deleted</p>
<ul>
  <% @family.people.each do |member| %>
    <li><%= member.first_name %></li>
  <% end %>
</ul>

<%= link_to "I'm Sure", destroy_family_path(@family), method: :delete, data: { confirm: "Are you sure you want to delete this family?" } %>