// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large_font {
  font-size: 34px;
}

.add_photo {
  margin: 30px;
}

.photo_div {
  display: inline-block;
  padding: 20px;
  position: relative;
}

.delete_pic {
  position: absolute;
  top: 5px;
  right: 0px;
}
