// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large_font {
  font-size: 34px;
}

.add_photo {
  margin: 30px;
}

.check_box {
  font-weight: normal;
}

div.individual_section {
  display: none;
}

.hidden {
  display: none;
}

.input_name {
  border: 0px;
}

.display_block {
  display: block;
}

.input_name:focus {
  outline: 0;
  // background-color: #ecf0f1;
}

.white_div.album_div {
  width: 34%;
  height: 400px;
}
