/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require magnific-popup
 *= require jquery.ui.all
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */


// .open {
//   a:focus {
//     background-color: white;
//   }
// }


@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg: #ecf0f1;
$font-family-sans-serif: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height: 45px;
$navbar-default-bg: white;
$navbar-default-brand-color: rgba(52, 152, 219,1.0);
$brand-primary: rgba(52, 152, 219,1.0);
$jumbotron-bg: white;
 @import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
// body {
//   padding-top: 70px;
//   padding-bottom: 30px;
// }

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: white;
  color: #555555;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.deletable_div {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.deletable_div_member {
  @extend .deletable_div;
  padding: 0;
  padding-bottom: 5px;
  display: block;
}

.deletable_div_photo {
  @extend .deletable_div;
  float: left;
}

.delete_x {
  position: absolute;
  top: 5px;
  right: 5px;
}

.delete_x_member_input:hover {
 
}

#people_relations_ {
  margin-right: 5px;
}

#permitted_members {
  font-style: italic;
}

.form_attr {
  display: inline;
  float: left;
  margin: 5px 20px;
}

.center {
  text-align: center;
}

.panel.inline {
  display: inline-block;
}

.white_div {
  overflow: scroll;
  width: 45%;
  height: 20%;
  margin: 2.5%;
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 2.5%;
  float: left;
}

@media screen and (max-width: 599px){
  .white_div {
    width: 90%;
  }
}

@media screen and (min-width: 600px){
  .white_div {
    width: 45%;
  }
}
.conversation_white_div {
  @extend .white_div;
  width: 35%;
  margin: 0;
  margin-top: 2.5%;
  float: right;
  text-align: center;
}


.center_div {
  float: right;
  width: 75%;
}

.message_convo_div {
  @extend .conversation_white_div;
  margin: 2%;
  height: 200px;
}

.message_content {
  display: inline;
  height: auto;
}

.search_form{
  position: relative;
  display: inline-block;
  margin: 10px;
  background: whitesmoke;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #dddddd;

}
.search_form_div {
  position: relative;
  text-align: center;
  width: 100%;
}

.white_div.fixed_height {
  height: 320px;
}

.message_pic {
  float: left;
}
.name_and_message {
  overflow: hidden;
  padding: 5px;
  margin-right: 5px;
}
