span.message_time {
  float: left;
}

.white_div.new_message {
  width: auto;
  text-align: left;
  margin-left: 0;
}

div.center_div.message {
  width: 100%;
  padding: 5px;
  border: #ccc 1px solid;
  margin: 0.3%;
  border-radius: 10px;
}