.background_p {
  text-align: justify;
  text-indent: 20px;
}

.bio {
  margin: 5px;
  border: #ccc 3px solid;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
}

.white_div.about_div {
  height: 250px;
}